.git
.github
.idea
.cursor
**/.env
**/.env.*
!**/.env.example
**/node_modules
backend/vendor
**/dist
**/.phpunit.result.cache
**/.phpunit.cache
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
*.md
pwa/design/reference
